<div class="form">
    <div class="dx-fieldset">
        <div class="dx-field">            
            <div class="dx-field-value">
                <dx-text-box placeholder="Username" [showClearButton]="true"></dx-text-box>
            </div>
        </div>
        <div class="dx-field">            
            <div class="dx-field-value">
                <dx-text-box
                    mode="password"
                    placeholder="Password"
                    [showClearButton]="true"
                    value=""
                ></dx-text-box>
            </div>
        </div>        
    </div>
</div>