<a class="logo" href="/">DevExtreme</a>
<nav class="header-menu" id="headerMenu">
  <ul class="menu-list">
    <li>
      <a href="/Overview/">Overview</a>
    </li>
    <li>
      <a href="/New/">What's New</a>
    </li>
    <li>
      <a class="active" href="/Demos/WidgetsGallery/">Demos</a>
    </li>
    <li>
      <a href="/Documentation/">Documentation</a>
    </li>
    <li>
      <a href="https://www.devexpress.com/Support/Center/Question/List/1" target="_blank">Support</a>
    </li>
    <li>
      <a href="/ThemeBuilder/">Theme Builder</a>
    </li>
    <li>
      <a href="/Blogs/">Blogs</a>
    </li>
  </ul>
</nav>
<div class="header-buttons">
  <a class="download" title="Download Trial" href="https://js.devexpress.com/Downloading/DevExtremeComplete/">
  </a>
  <a class="buy" title="Buy" href="https://js.devexpress.com/Buy/"></a>
  <div class="dx-logo-container">
    <a href="https://www.devexpress.com/" target="_blank" class="dx-logo-image"></a>
  </div>
</div>